@tailwind base;
@tailwind components;
@tailwind utilities;

[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

.project {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.project label {
  position: relative;
}

.project label {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.project label::after {
  content: '';
  position: absolute;
  left: 2.1rem;
  right: 0;
  height: 3px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
}

.custom-checkbox {
  --size: 1em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: var(--size);
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.project:hover .custom-checkbox {
  transform: scale(1.1);
}

[type='checkbox']:checked + label .custom-checkbox {
  background-color: rgba(255, 147, 147, 0.81);
  border-color: rgba(255, 147, 147, 0.81);
  box-shadow: inset 0 0 0 1.5px white;
}

[type='checkbox']:checked + label {
  opacity: 0.7;
}

[type='checkbox']:checked + label::after {
  opacity: 0.7;
  transform: scaleX(1);
}
